<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Clon Twitter - Home</title>
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body class="home">
    <div class="centrado">
      <div class="columna centro">
        <div class="centro__titular">
          <h2 class="centro__h2">Inicio</h2>
          <svg class="centro__svg" viewBox="0 0 24 24">
            <g>
              <path
                d="M22.772 10.506l-5.618-2.192-2.16-6.5c-.102-.307-.39-.514-.712-.514s-.61.207-.712.513l-2.16 6.5-5.62 2.192c-.287.112-.477.39-.477.7s.19.585.478.698l5.62 2.192 2.16 6.5c.102.306.39.513.712.513s.61-.207.712-.513l2.16-6.5 5.62-2.192c.287-.112.477-.39.477-.7s-.19-.585-.478-.697zm-6.49 2.32c-.208.08-.37.25-.44.46l-1.56 4.695-1.56-4.693c-.07-.21-.23-.38-.438-.462l-4.155-1.62 4.154-1.622c.208-.08.37-.25.44-.462l1.56-4.693 1.56 4.694c.07.212.23.382.438.463l4.155 1.62-4.155 1.622zM6.663 3.812h-1.88V2.05c0-.414-.337-.75-.75-.75s-.75.336-.75.75v1.762H1.5c-.414 0-.75.336-.75.75s.336.75.75.75h1.782v1.762c0 .414.336.75.75.75s.75-.336.75-.75V5.312h1.88c.415 0 .75-.336.75-.75s-.335-.75-.75-.75zm2.535 15.622h-1.1v-1.016c0-.414-.335-.75-.75-.75s-.75.336-.75.75v1.016H5.57c-.414 0-.75.336-.75.75s.336.75.75.75H6.6v1.016c0 .414.335.75.75.75s.75-.336.75-.75v-1.016h1.098c.414 0 .75-.336.75-.75s-.336-.75-.75-.75z"
              ></path>
            </g>
          </svg>
        </div>

        <div class="centro__pasando">
          <form action="/home" method="POST">
            <div class="pasando__up">
              <img class="pasando__img" src="img/user.jpg" alt="User" />
              <textarea
                class="pasando__textarea"
                placeholder="¿Qué está pasando?"
                maxlength="140"
                name="text"
                required
              ></textarea>
            </div>
            <div class="pasando__inf">
              <ul class="pasando__ul">
                <li class="pasando__li">
                  <svg class="pasando__icon" viewBox="0 0 24 24">
                    <g>
                      <path
                        d="M12 22.75C6.072 22.75 1.25 17.928 1.25 12S6.072 1.25 12 1.25 22.75 6.072 22.75 12 17.928 22.75 12 22.75zm0-20C6.9 2.75 2.75 6.9 2.75 12S6.9 21.25 12 21.25s9.25-4.15 9.25-9.25S17.1 2.75 12 2.75z"
                      ></path>
                      <path
                        d="M12 17.115c-1.892 0-3.633-.95-4.656-2.544-.224-.348-.123-.81.226-1.035.348-.226.812-.124 1.036.226.747 1.162 2.016 1.855 3.395 1.855s2.648-.693 3.396-1.854c.224-.35.688-.45 1.036-.225.35.224.45.688.226 1.036-1.025 1.594-2.766 2.545-4.658 2.545z"
                      ></path>
                      <circle cx="14.738" cy="9.458" r="1.478"></circle>
                      <circle cx="9.262" cy="9.458" r="1.478"></circle>
                    </g>
                  </svg>
                </li>
              </ul>
              <button class="pasando__twittear" type="submit">Twittear</button>
            </div>
          </form>
        </div>
        <% tweets.forEach(element => { %>
        <div class="centro__tweets">
          <section class="centro__tweet">
            <div class="centro__col">
              <img class="centro__user" src="img/user.jpg" alt="User" />
            </div>
            <div class="centro__col">
              <div class="centro__row centro__row--user">
                <a href="/username/<%= element.user.userName %>">
                  <h3 class="centro__h3">
                    <%= element.user.firstName %> <%= element.user.lastName %>
                  </h3></a
                >
                <h4 class="centro__h4">@<%= element.user.userName %></h4>
                <span class="centro__tiempo">15s</span>
              </div>
              <div class="centro__row">
                <p class="centro__text"><%= element.text %></p>
              </div>

              <ul class="centro__ul">
                <li class="centro__li">
                  <svg class="centro__svg" viewBox="0 0 24 24">
                    <g>
                      <path
                        d="M12 21.638h-.014C9.403 21.59 1.95 14.856 1.95 8.478c0-3.064 2.525-5.754 5.403-5.754 2.29 0 3.83 1.58 4.646 2.73.814-1.148 2.354-2.73 4.645-2.73 2.88 0 5.404 2.69 5.404 5.755 0 6.376-7.454 13.11-10.037 13.157H12zM7.354 4.225c-2.08 0-3.903 1.988-3.903 4.255 0 5.74 7.034 11.596 8.55 11.658 1.518-.062 8.55-5.917 8.55-11.658 0-2.267-1.823-4.255-3.903-4.255-2.528 0-3.94 2.936-3.952 2.965-.23.562-1.156.562-1.387 0-.014-.03-1.425-2.965-3.954-2.965z"
                      ></path>
                    </g>
                  </svg>
                  <span class="centro__numero">1</span>
                </li>
              </ul>
            </div>
          </section>
        </div>
        <% }) %>
      </div>
    </div>

    <div class="columna der"></div>
  </body>
</html>
