<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Twitter Bootsrap v4 Clone</title>
  
  
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'>
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.min.css'>
  <!-- Custom css-->
  <link rel="stylesheet" href="/css/user.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
  
</head>
<body>
<div class="main-container">
  <!-- Profile background large image -->
  <div class="row profile-background">
    <div class="container">
	   
      <div class="avatar-container">
        
        <div class="avatar">
        </div>
      </div>
    </div>
  </div>

  <nav class="navbar profile-stats">
    <div class="container">
      <div class="row">
        <div class="col">

        </div>
        <div class="col-6">
          <ul>
            <li class="profile-stats-item-active">
              <a>
                <span class="profile-stats-item profile-stats-item-label">Tweets</span>
                <span class="profile-stats-item profile-stats-item-number"><%= data.listTweets.length %> </span>
              </a>
            </li>
            <li>
              <a>
                <span class="profile-stats-item profile-stats-item-label">Following</span>
                <span class="profile-stats-item profile-stats-item-number"><%= data.listFollowing.length %> </span>
              </a>
            </li>
            <li>
              <a>
                <span class="profile-stats-item profile-stats-item-label">Followers</span>
                <span class="profile-stats-item profile-stats-item-number"><%= data.listFollowers.length %> </span>
              </a>
            </li>
            <li>
              <a>
                <span class="profile-stats-item profile-stats-item-label">Likes</span>
                <span class="profile-stats-item profile-stats-item-number"><%= likeTotal %> </span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col">
        </div>
      </div>
    </div>
  </nav>
  <div class="container main-content">
    <div class="row">
      <div class="col profile-col">
        <!-- Left column -->
        <div class="profile-header">
          <!-- Header information -->
          <h3 class="profile-fullname"><a><%= data.firstName %> <%= data.lastName %>  </a></h3>
          <h2 class="profile-element"><a>@<%= data.userName %> </a></h2>
          <a class="profile-element profile-website" hrerf=""><i class="octicon octicon-link"></i>&nbsp;<%= data.email %> </a>
          <a class="profile-element profile-website" hrerf=""><i class="octicon octicon-location"></i>&nbsp;Vitoria-Gasteiz, Spain</a>
          <h2 class="profile-element"><i class="octicon octicon-calendar"></i>Joined November 2012</h2>
          <% if (logUser.userName !== data.userName) { %>
           <form action="/follow/<%= data.userName %> " method="POST">
            <button class="btn btn-search-bar tweet-to-btn">Sigue a <%= data.userName %> </button>
          </form>
          <form action="/unfollow/<%= data.userName %> " method="POST">
            <button class="btn btn-search-bar tweet-to-btn">Dejar de seguir a <%= data.userName %> </button>
          </form>
          <% } %>
          <!-- End: image grid -->
        </div>
      </div>
      <!-- End; Left column -->
      <!-- Center content column -->
      <div class="col-6">
        <ol class="tweet-list">
          <% for( let i = data.listTweets.length - 1; i >= 0; i-- ) { %>
          <li class="tweet-card">
            <div class="tweet-content">
              <div class="tweet-header">
                <span class="fullname">
                  <strong><%= data.firstName %> <%= data.lastName %>  </strong>
                </span>
                <span class="username">@<%= data.userName %> </span>
                <span class="tweet-time">- <%= data.listTweets[i].createdAt %> </span>
              </div>
              <a>
                <img class="tweet-card-avatar" src="../img/user.jpg" alt="">
              </a>
              <div class="tweet-text">
                <h6 class="" lang="es" data-aria-label-part="0"><%= data.listTweets[i].text %> 
                </h6>
              </div>
              <div class="tweet-footer">
                <div class="row ">
                  <div class="col"> 
                    <form action="<%= "/like/" + data.listTweets[i]._id %>" method="POST" class="tweet-footer-btn">
                    <button type="submit">
                    <span><i class="octicon octicon-heart" aria-hidden="true"><%= data.listTweets[i].likes.length %> </i><span> </span>
                  </button>
                </form>
              </div>
              <div class="col d-flex justify-content-end">
                <% if (logUser.userName === data.userName) { %>
                 <form action="<%= "/delete/" + data.listTweets[i]._id %>" method="POST">
                    <button type="submit">
                    <span><i class="fas fa-trash-alt"></i></span>
                  </button>
                </form>
                <% } %>
              </div>
                </div>
               
                
                 
              </div>
            </div>
          </li>
          
          <% } %>
        </ol>
        <!-- End: tweet list -->
      </div>
      <!-- End: Center content column -->
      <div class="col right-col"> 
      </div>
    </div>
  </div>
  <script src='https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js'></script>
</body>
</html>
